h1 {
    font-size: 51px;
}

h2 {
    font-size: 46px;
}

p {
    font-size: 20px;
}

.paste_color {
    color: #73A16C;
}

.text_color {
    color: #73A16C;
    box-shadow: 10px 10px 50px greenyellow;
}

body {
    font-family: 'Cabin Condensed', sans-serif;
}

#section_1 {
    display: flex;
    background-color: #99c68e4f;
    box-shadow: 10px 10px 100px greenyellow;
}

.width_1 {
    width: 50%;
    padding-left: 5%;
}

.width_1 img {
    width: 50%;
    padding-left: 6%;
    margin-top: 5%;

}

.border_claass {
    border-left: solid 5px;
    padding-bottom: 0px;
    padding-left: 10px;
    border-radius: 4px;
    width: 50%;





}

.link_button {
    text-decoration: none;
    background: linear-gradient(rgb(23, 221, 178), rgba(255, 99, 71, 0.699));
    padding: 10px 25px;
    border-radius: 5px;
    color: white;
    font-size: 20px;


}

#separate_1 {
    text-align: center;
    margin-top: 70px;

}

.mission_2022 {

    border: solid 3px;
    border-radius: 30px;
    padding: 60px 5px;
    width: 50%;
    margin-right: 2%;
    margin-left: 2%;


}

#section_2 {
    display: flex;
    margin-bottom: 300px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;



}



.mission_2022 img {
    width: 45%;

}

#sec_2_div_1 {
    background-color: #4bc41746;

    box-shadow: 10px 10px 90px palegreen;

}

#sec_2_div_2 {
    background-color: #e0ffffbd;

    box-shadow: 10px 10px 90px palegreen;

}

#sec_2_div_3 {
    background-color: #7fffd44d;
    box-shadow: 10px 10px 90px palegreen;
}

#orange_clr {

    color: #73A16C;
}

.sec_3_div_1 {
    width: 100%;
    padding-left: 5%;

}

.sec_3_div_1 img {
    width: 80%;
    margin-left: 20%;
    box-shadow: 10px -10px 300px palegreen;
}

#section_3 {
    display: flex;
    margin-bottom: 150px;
}

#positioning {
    padding-left: 50px;
    margin-right: 25%;
}

#section_4 {
    display: flex;
    margin-bottom: 150px;
}

.sec_4_div_1 {
    width: 90%;
    margin-left: 5%;

}

.sec_4_div_1 img {
    width: 60%;
    box-shadow: 10px -10px 300px palegreen;


}

#sec_4_h1 {
    text-align: center;
}

.sec_5_div {
    width: 60%;
}

.sec_5_div img {
    width: 39%;
    margin-left: 35%;
}

#section_5 {
    margin-top: 100px;
    display: flex;
    width: 100%;
}

#sec_5_divtext {
    width: 30%;
    margin-right: 40%;
}

#footer_text {
    text-align: center;
    background-color: black;
    color: white;
    padding: 30px;
}

#ft_text_clr {
    color: rgba(255, 99, 71, 0.76);
}